.hero-unit
  %h1{:id => "firstHeading"} Blooming Buds of 30-A
  %p
    Blooming Buds of 30A is a floral design company owned by long time friends
    Diane Barron and Michelle Puckett. Together they have a combined forty plus
    years of experience in the floral business encompassing all of Alabama and
    the Panhandle of Florida. Our target market region is the beautiful South
    Walton and the surrounding areas. However, if you like what you see we can
    travel outside this local area with proper advance notification. We
    specialize in wedding and special event floral designs by working closely
    with our customers to create a tailor made experience to fit their needs,
    wants, and buget. Our goal is to make sure every customer has the finest
    flowers to add style and flair to their special day. Customer satisfaction
    is our number one priority, so we advise you to start your booking months
    in advance to ensure we can save the date for you(pun intended). This
    allows us ample time to obtain the components necessary to create your
    desired experience. By using Blooming Buds of 30A, you will be ensuring
    that your wedding is second to none no matter how large or small. We work
    with a team of the best designers in the area to provide each client with a
    custom experience that displays the vision they are seeking for their
    special day. 
