.hero-unit
  %h2{:id => "firstHeading"} Contact Information
  %table{:width => "500px", :style => "float: left;"}
    %tr
      %td Name:
      %td Diane Barron
    %tr
      %td Phone:
      %td 1 (205) 410-2722
    %tr
      %td Email:
      %td DianeBarron123@aol.com
  %table{:width => "500px", :style => "float: left;"}
    %tr
      %td Name:
      %td Michelle Puckett
    %tr
      %td Phone:
      %td 1 (850) 259-3337
    %tr
      %td Email:
      %td mosskateer@yahoo.com
