.hero-unit
  %table{:border => 'solid black 1px'}
    %tr
      %th{:colspan => '2'} Contact Information
    %tr
      %td Address
      %td hwy 30A
    %tr
      %td Phone
      %td 1 (888) 555-5555
    %tr
      %td Email
      %td email@email.com
