.hero-unit
  %table{:width => "500px"}
    %tr
      %th{:colspan => '2', :align => 'center'} Contact Information
    %tr
      %td Name:
      %td Michelle Puckett
    %tr
      %td Phone:
      %td 1 (850) 259-3337
    %tr
      %td Email:
      %td mosskateer@yahoo.com
