.hero-unit
  %h1{:id => "firstHeading"} Blooming Buds of 30-A
  %img{:class => "home", :border => "5px solid white", :src => "images/home1.jpg"}
  %img{:class => "home", :border => "5px solid white", :src => "images/home2.jpg"}
  %img{:class => "home", :border => "5px solid white", :src => "images/home3.jpg"}
  %img{:class => "home", :border => "5px solid white", :src => "images/home4.png"}
