%div{:class => "carousel slide", :id => "myCarousel", "data-ride" => "carousel"}
  %ol.carousel-indicators
    %li{"data-target" => "#myCarousel", "data-slide-to" => "0", :class => "active"}
    %li{"data-target" => "#myCarousel", "data-slide-to" => "1"}
    %li{"data-target" => "#myCarousel", "data-slide-to" => "2"}
  .carousel-inner{:role => "listbox"}
    .active.item
      %img{:src => "images/gallery/i-m9JRFpZ-L.jpg", :alt => "First slide"}
        .carousel-caption
          %h1{:class => "carousel-cap"} Eternal...
    .item
      %img{:src => "images/gallery/i-XP54DJp-L.jpg", :alt => "Second slide"}
        .carousel-caption
          %h1{:class => "carousel-cap"} Love...
    .item
      %img{:src => "images/gallery/i-ZxTpw5t-L.jpg", :alt => "Third slide"}
        .carousel-caption
          %h1{:class => "carousel-cap"} Passion...
  %a{:class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"} &lsaquo;
  %a{:class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"} &rsaquo;
