.hero-unit
  %h2{:id => "firstHeading", :class => "contract"}
    Blooming Buds Contract
  %p{:class => "contract"}
    %form{:id => "button1", :action => "BBHomePage2PagesContract.pdf"}
      %button{:id => "button2", :href => "BBHomePage2PagesContract.pdf", :class => "btn btn-large btn-primary"}Download
