/* navbar */
.navbar-inner {
/*  background-color: #B4CFEC; /* background color will be black for all browsers */
  background-color: #00adef; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  height: 94px;
}
.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 60px 15px 20px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    /*color:  #fdfd96;*/
    color:  #ffd457;
    font-size: 34px;
    font-weight: bold;
    font-family: "Cedarville Cursive";
}

body{
  /*background: url('/images/fractalBackground.png');*/
  background: url('/images/symphony2.png');
  background-repeat: repeat;
  /*background-size: cover;*/
}
.flexslider {
  width: 200px;
  height: 200px;
}

.flexslider .slides img {
  width: 200px;
  height: 200px;
}

.crop {
  float: left;
  width: 100px;
  height: 200px;
  overflow: hidden;
  margin: 0 0 0 0;
}

.center-cropped {
  margin: 25px;
  border: 5px solid white;
  border-radius: 5px;
  float: left;
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}
.hero-unit{
  box-shadow: 10px 10px 5px #888888;
  background-color: #00adef;
  color:  #ffd457;
  position: relative;
  top: 150px;
  border-radius: 50px;
}
.gallery{
  position: relative;
  top: 150px;
}

h1{
  text-align: center;
  font-family: "Cedarville Cursive";
  font-weight:bold;
  padding-bottom: 20px;
}

p {
  text-indent: 50px;
  font-family: "Chewy";
font-size:21px;
}
