- @images.each do |image|
  %div{:class => "center-cropped"}
    %a{:class => "fancybox-buttons", :rel=> "gallery1", :href => image}
      %img{:src => "images/thumbs/" + image.split('/')[2], :alt => ""}
